<h1 class="for-sreader">Habilidades e Ferramentas</h1>

<div *ngIf="! loading" class="container">
	<section class="initial mb-60">
		<div class="d-flex fw-wrap-reverse ai-center jc-space-between">
			<div class="col-5 col-xx-6 col-lg-12">
				<h2 animate="slide-left" [innerHTML]="content.title"></h2>
				<div animate="slide-left" [innerHTML]="content.description"></div>
				
				<div class="d-flex fw-wrap actions">
					<a [href]="content.url" target="_blank" rel="noopener" class="btn secundary">{{ content.label }}</a>
					<a routerLink="/" class="btn secundary"><i class="icon-house"></i></a>
				</div>
			</div>
			<div class="col-5 col-xx-5 col-lg-12">
				<div class="photo m-auto pos-relative" animate="slide-right">
					<div class="selo top"></div>
					<img [src]="content.image.src" [alt]="content.image.alt" [width]="content.image.width" [height]="content.image.height">
					<div class="selo bottom"></div>
				</div>
			</div>
		</div>
	</section>
</div>