<h1 class="for-sreader">Habilidades e Ferramentas</h1>

<div class="container">
	<section class="initial mb-60">
		<div class="d-flex fw-wrap-reverse ai-center jc-space-between">
			<div class="col-5 col-xx-6 col-lg-12">
				<h2 animate="slide-left">Deixa eu te contar um pouco da <strong>minha história</strong></h2>

				<p animate="slide-left" delay="1" class="mb-15">Sempre fui uma pessoa muito curiosa e a medida que eu fui crescendo e tendo contato com a internet me questionava como todas aquelas informações, enviadas pelo mundo todo, chegavam tão rápido com apenas alguns clique, como computadores no mundo todo se conectam, onde todas essas informações armazenadas...</p>

				<p animate="slide-left" class="mb-15">Toda essa curiosidade me levou direto à área de tecnologia da informação e hoje sou formada em sistemas de informação e também técnica em desenvolvimento de sistemas. Já trabalho a pois mais de 4 anos na área de desenvolvimento web e, atualmente, tenho focado meus estudos em performance e técnicas de otimização para um bom rankeamento dos sites nos grandes navegadores.</p>

				<p animate="slide-left" class="mb-32">Ao longo desses anos de caminhada pude conhecer um pouco das milhares de possibilidades de criação para web, além entender os caminhos que uma simples página web percorre até chegar no seu usuário final. Dinâmicas que vão desde configuração de servidor, DNS e hospedagem até melhores práticas de carregamento e acessibilidade para que um site tenha uma boa performance e maior alcance na internet.</p>
				
				<div animate="slide-left">
					<a href="#" target="_blank" rel="noopener" class="btn secundary">Da uma olhada no meu currículo</a>
				</div>
			</div>
			<div class="col-5 col-xx-5 col-lg-12">
				<div animate="slide-right" delay="1" class="photo m-auto pos-relative">
					<div class="selo top"></div>
					<img src="assets/images/andrezavitorio-perfil.jpg" alt="" width="440" height="600">
					<div class="selo bottom"></div>
				</div>
			</div>
		</div>
	</section>
</div>