<h1 class="for-sreader">Projetos</h1>

<div appBlur class="blur"></div>

<div *ngIf="! loading" class="container">
	<section class="initial mb-60">
		<div class="d-flex fw-wrap ai-flex-end jc-space-between">
			<div class="col-6 col-xl-6 col-lg-12">
				<small class="tt-lowercase">{{ content.topic }}</small>
				<h2 [innerHTML]="content.title"></h2>
				<p>{{ content.description }}</p>
			</div>
			<div class="col-4 col-xl-5 col-lg-12">
				<a routerLink="/habilidades" class="btn secundary">{{ content.label }} <i class="icon-arrow"></i></a>
			</div>
		</div>
	</section>

	<section class="projects d-flex fw-wrap jc-space-between">
		<a 
			*ngFor="let project of content.projects; let i = index"
			[href]="project.url" 
			class="project d-block col-4 col-sm-12 col-lg-6 pos-relative"
			target="_blank"
			rel="noopener noreferrer"
			animate="slide-up" [delay]="i.toString()"
		>
			<img [src]="project.image.src" [alt]="project.image.alt" [width]="project.image.width" [height]="project.image.height" loading="lazy">
			<div class="details pos-absolute d-flex fd-column ai-flex-start jc-flex-end">
				<div class="tag">{{ project.tag }}</div>
				<div class="infos d-flex fw-md-wrap ai-flex-end jc-space-between">
					<div class="text col-md-12">
						<h2>{{ project.name }}</h2>
						<p>{{ project.tech }}</p>
						<small>{{ project.caption }}</small>
					</div>

					<button type="button" class="btn">Conheça</button>
				</div>
			</div>
		</a>
	</section>
</div>