<h2 class="for-sreader">Página não econtrada</h2>

<div class="gap"></div>

<div class="container editor flex wrap align-center justify-center">
    <div>
        <h1 class="ta-center"><strong>404</strong></h1>
        <h2 class="ta-center tt-uppercase">Página não econtrada</h2>
        <h3 class="ta-center">A página que você está procurando não foi encontrada...<br>Por favor, verifique o endereço que você acessou ou se você clicou em um link, entre em contato com o suporte.</h3>
    </div>
</div>
