<h1 class="for-sreader">Habilidades e Ferramentas</h1>

<div *ngIf="! loading" class="container">
	<section class="initial mb-60">
		<div class="d-flex fw-wrap ai-flex-start jc-space-between">
			<div class="col-5 col-md-12" animate="slide-left">
				<small class="tt-lowercase">{{ content.topic }}</small>
				<h2 [innerHTML]="content.title"></h2>
				<p>{{ content.description }}</p>

				<div class="actions d-flex fw-wrap">
					<button (click)="toogleSkill()"  class="btn light" [class.active]="skill == 'hard'">Hard Skill</button>
					<button (click)="toogleSkill()"  class="btn light" [class.active]="skill == 'soft'">Soft Skill</button>

					<a routerLink="/sobre-mim" class="btn secundary">{{ content.label }} <i class="icon-arrow"></i></a>
				</div>
			</div>
			<div class="col-6 col-md-12">
				<div class="skills" *ngIf="skill == 'hard'" animate="slide-right">
					<h3><strong>Hard</strong> Skill</h3>

					<ul>
						<li *ngFor="let li of content.hardskills">{{ li }}</li>
					</ul>
				</div>

				<div class="skills" *ngIf="skill == 'soft'" animate="slide-right">
					<h3><strong>Soft</strong> Skill</h3>

					<ul>
						<li *ngFor="let li of content.softskills">{{ li }}</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>